/* reset do css */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}







/* Css mobile */
@media(max-width: 760px){
   body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-image:url('../../src/imagem\ jogo\ inicial.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

nav{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    
    
}

.titulo{
    margin-right: 0px;
    margin-top: 0px;
    ;
}



    h1{
        color: #660000;
        text-shadow: 
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px  1px 0 white,
        1px  1px 0 white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 44px;
        
    }

    .buttonPage1{
        display: flex;
        gap: 2vh;
        margin: 2vh;

        a{
            text-decoration: none;
            color: #660000;
            font-weight: bold;
        }

    }

    button{
        border-radius: 5px;
        background-color: aliceblue;
        background: rgba(255, 255, 255, 0.2); 
        backdrop-filter: blur(8px); 
        -webkit-backdrop-filter: blur(10px);
        padding: 8px 8px 8px 8px;

    }


    .container{

        
  
    justify-content: center;
   
    
        /* Alinhamento dos itens */
        display:flex ;
        
        flex-direction: column;


        border-radius:15px ;
        padding: 40px;
        margin-left:5vh;
        margin-right: 5vh;

        /* Cores do fundo */
        background-color: aliceblue;
        background: rgba(255, 255, 255, 0.2); 
        backdrop-filter: blur(8px); 
        -webkit-backdrop-filter: blur(10px);

        /* Cor da letra */
        color: #660000;
        
    }

    footer{
        
      color: white;
      display: flex;
      flex-direction: column;
      gap: 2vh;
      align-items: center;
      margin-top: 1vh;

      a{
        text-decoration: none;
        color:white;

      }
        


    }

.rodape{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}




}


/* ------------------ */

/* css tablet */
@media(min-width:761px) and (max-width:1023px){

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        background-image:url('../../src/imagem\ jogo\ inicial.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        image-resolution: from-image;
        
    }

     nav{
        display: flex;
        justify-items: center;
        align-items: center;
        position: absolute;
        top: 0;

    
    }


    .titulo{
        
        text-align: center;
        margin-bottom: 65px;
    }


    h1{
        color: #660000;
        text-shadow: 
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px  1px 0 white,
        1px  1px 0 white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size:45px;
        
    }

    .buttonPage1{
        display: flex;
        gap: 2vh;
        margin: 2vh;
        position: absolute;
     right: 0;
        top: 0;
       
        a{
            text-decoration: none;
            color: #660000;
            font-weight: bold;
        }

    }

    button{
        border-radius: 5px;
        background-color: aliceblue;
        background: rgba(255, 255, 255, 0.2); 
        backdrop-filter: blur(8px); 
        -webkit-backdrop-filter: blur(10px);
        padding: 8px 8px 8px 8px;
    

    }


    .container{
        /* Alinhamento dos itens */
        display:flex ;
        flex-direction: column;
        border-radius:15px ;
        max-width: 85vw;
        padding: 70px;
        margin-left: 2.5vh;

        /* Cores do fundo */
        background-color: aliceblue;
        background: rgba(255, 255, 255, 0.2); 
        backdrop-filter: blur(8px); 
        -webkit-backdrop-filter: blur(10px);

        /* Cor da letra */
        color: #660000;
        
    }

 
    footer{
        position: absolute;
        bottom: 0;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 0.5vh;
      align-items: center;
      

      a{
        text-decoration: none;
        color:white;

      }
        


    }

.rodape{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

}






/* --------------------- */

/* css web */

@media(min-width:1024px){

    body{
        background-image:url('../../src/imagem\ jogo\ inicial.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        align-items: center;
        
    }



    nav{
        display: flex;
        gap: 25px;
        justify-content: right;
        align-items: center;
        height: 80px;
        margin-right: 25px;
    }

    .titulo{
        margin-right: 180px;
        margin-top: 25px;
    }


    h1{
        color: #660000;
        text-shadow: 
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px  1px 0 white,
        1px  1px 0 white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 44px;
        
    }

    .buttonPage1{
        display: flex;
        gap: 25px;

    }

    button{
        border-radius: 5px;
        background-color: aliceblue;
        background: rgba(255, 255, 255, 0.2); 
        backdrop-filter: blur(8px); 
        -webkit-backdrop-filter: blur(10px);
        padding: 8px 8px 8px 8px;

    }






    .container{
        /* Alinhamento dos itens */
        display:flex ;
        flex-direction: column;
        border-radius:15px ;
        max-width: 550px;
        max-height: 950px;
        gap: 25px;
        padding: 40px 20px  40px 20px;
        justify-self: right;
        margin: 80px 80px 0 0 ;

        /* Cores do fundo */
        background-color: aliceblue;
        background: rgba(255, 255, 255, 0.2); 
        backdrop-filter: blur(8px); 
        -webkit-backdrop-filter: blur(10px);

        /* Cor da letra */
        color: #660000;
        
    }

    footer{
        display: flex;
        gap: 50px;
        


    }
}

